<h1 style="text-align:center">Bogotá Tours</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://uberblogapi.10upcdn.com/wp-content/uploads/2018/09/CO_X-lugares-para-visitar-en-Bogota%CC%81-que-no-te-puedes-perder--1080x540.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.eltiempo.com/files/article_main/uploads/2019/04/19/5cba5f5bb4807.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.viajala.com/img/blog/5-sitios-turisticos-bogota/la-candelaria-bogota.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
